**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/
**/.idea/
**/__pycache__/
**/*.iml
**/*.pyc
**/android/local.properties
**/android/key.properties
**/*.jks
**/*.keystore
**/*.p12
**/*.pfx
**/*.mobileprovision
**/*.provisionprofile
.env
.env.*
!.env.example
.DS_Store
